#logsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration,
#login {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: rgba(247, 243, 225, 0.8);
    border: solid 5px #858e92;
    margin: auto 0;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}
