#logsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

#registration,
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    background-color: rgba(247, 243, 225, 0.8);
    border: solid 5px #858e92;
    margin: auto 0;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

#registration h1 {
    text-align: center;
}

#login h1 {
    text-align: center;
}

#userreq{
    display: none;
    text-align: center;
}

#emailreq{
    display: none;
    text-align: center;
}

#passwordreq{
    display: none;
    text-align: center;
}

body {
    background-color: #f7f3e1;
    font-family: "Montserrat";
    margin-right: 32px;
    margin-left: 25px;
    min-width: 400px;
}

.titoli {
    display: block;
    width: 55%;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    text-align: justify;
}

.titoli h1 {
    text-align: center;
}

.titoli p{
    font-size: 18px;
}

@media screen and (max-width: 900px) {
    .card {
        max-width: calc(85%);
    }
}

#upbtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-image: url("../img/up.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f7f3e1;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-position: center center;
}

#upbtn:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
}

#menubtn {
    display: block;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-image: url("../img/hamburger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f7f3e1;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

#menubtn:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
}

#menux {
    display: none;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-image: url("../img/close.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f7f3e1;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 35px;
    height: 35px;
}

#menux:hover {
    background-color: #555;
    color: rgb(255, 255, 255);
}

nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 0;
    background-color: #f7f3e1;
    height: 90vh;
    width: 300px;
    z-index: 10;
    border-radius: 6px;
}

#linkmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;
    margin-top: 60px;
}

#logomenu {
    background-color: #191919;
    border-radius: 6px;
    margin-top: auto;
}

#logomenu img {
    display: block;
    max-width: 350px;
    margin-left: -65px;
}

#linkmenu a {
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #858e92;
}

#linkmenu a:hover {
    color: #191919 !important;
    text-decoration: none;
}

#linkmenu a:active {
    color: #191919 !important;
    text-decoration: none;
}

.logbutton {
    margin-right: -10px;
    text-align: center !important;
}

#logsection {
    margin-top: 50px;
}

.send {
    text-align: center;
}

header {
    background-image: url("../img/headback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -8px;
    margin-right: -32px;
    margin-left: -25px;
}

#introduction {
    position: relative;
    top: 250px;
    width: 70%;
    min-width: 250px;
    margin: 0 auto;
    background-color: rgba(25, 21, 25, 0.65);
    border-radius: 6px;
}


#random_quote{
    padding: 20;
    text-align: center;
    color: #f7f3e1;
    font-weight: lighter;
}


#socialbutton {
    display: block;
    height: 50px;
    margin-top: -50px;
    margin-left: -25px;
    margin-right: -32px;
    background-color: #19191900;
    text-align: right;
}

#socialbutton img {
    margin-top: 13px;
    margin-right: 8px;
    width: 25px;
}

#AddSet {
    width: 70%;
    margin: 0 auto;
}

#setsection h1 {
    color: #191919;
    text-align: center;
}

#setsection p {
    color: #191919;
    text-align: justify;
}

#cardbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px auto;
    max-width: 100%;
    padding-top: 65px;
    padding-bottom: 45px;
    border-radius: 6px;
}

.card {
    background-color: #f7f3e1;
    border-radius: 6px;
    max-height: 10%;
    max-width: calc(85% / 3);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px) {
    .card {
        max-width: calc(85% / 2);
    }
}



.card img {
    display: block;
    margin: -30px auto;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 65%;
    z-index: 1;
}

#cardtext {
    text-align: center;
    border: solid 3px #858e92;
    color: #858e92;
    border-radius: 6px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 25px 10px;
    word-wrap: break-word;
    z-index: 0;
}

.card img:hover {
    box-shadow: 8px 8px 5px 2px rgba(33, 124, 185, 0.5);
}

.card a{
    text-decoration: none;
}

#cardtext:hover {
    border: solid 3px #191919;
    color: #191919;
    box-shadow: 8px 8px 5px 2px rgba(33, 124, 185, 0.5);
}

#randomimg h1 {
    color: #191919;
    text-align: center;
}

#randomimg p {
    color: #191919;
    text-align: justify;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    justify-content: center; 
    grid-gap: 8px;
    background-color: #191919;
    border-radius: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

.grid img{
  display: block;
  max-width: 100%;
  border-radius: 6px;
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.item:hover {
    opacity: 0.6;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
    border-radius: 6px;
    height: 28%;
    margin-top: 25px;
    padding-bottom: 25px;
}

.contact-info {
    text-align: left;
    margin-left: 8px;
    color: #858e92;
    text-decoration: none;
}

.contact-info a:link {
    color: #858e92;
    text-decoration: none;
}

/* visited link */
.contact-info a:visited {
    color: #858e92;
    text-decoration: none;
}

/* mouse over link */
.contact-info a:hover {
    color: #f0efea;
    text-decoration: none;
}

/* selected link */
.contact-info a:active {
    color: #858e92;
    text-decoration: none;
}

footer img {
    margin-top: 15px;
    width: 25px;
}

.logo {
    text-align: right;
    margin-right: 8px;
}

.logo img {
    margin-top: 15px;
    width: 25vw;
}

/*Setsingolo*/

#ricerca {
    position: absolute;
    display: flex;
    top: 18px;
    right: 50px;
    background-color: #f7f3e1;
    border-radius: 6px;
}

#ricerca input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    border: solid 2px #191919;
}

#ricerca button[type="submit"] {
    background-color: #191919;
    color: #f7f3e1;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

#res {
    margin-top: 150px;
    display: flex;
}

#titleimg {
    display: block;
    background-color: #191919;
    margin: 30px auto;
    padding-top: 35px;
    margin-bottom: 100px;
    width: 90%;
    height: auto;
    min-width: 400px;
    border-radius: 6px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

#titleimg img {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    height: 500px;
}

#setpageintrotext {
    width: 90%;
    margin: 0 auto;
    text-align: center;
     color: #f0efea !important;
  }
  
  #setpageintrotext h1, #setpageintrotext p {
    max-width: 100%;
    margin: 0 auto;
    color: #f0efea !important;
  }

  @media screen and (max-width: 550px) {
    #titleimg {
        width: 85%;
        height: auto;
        margin: 10px auto;
        margin-bottom: 50px;
        box-shadow: none;
    }

    #titleimg img {
        max-width: 100%;
        height: auto;
        border-radius: 6px;
    }

    #setpageintrotext {
        width: 85%;
        font-size: 16px;
    }
}


  
/*Setcontainer*/

#containerset {
    margin-top: 25px;
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#prev,
#next {
    position: fixed;
    top: 50%;
}

#prev {
    left: 2%;
}

#next {
    left: 96%;
}

.img_selected {
    border: 1px solid red;
    box-sizing: border-box;
}

/*LOGIN*/

#divform {
    display: flex;
    justify-content: center;
    background-image: url("./immagini/headback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: -8px;
    margin-right: -32px;
    margin-left: -25px;
}

#capyform {
    display: flex;
    flex-direction: column;
    width: 25vw;
    background-color: rgba(247, 243, 225, 0.8);
    border: solid 5px #858e92;
    margin: auto 0;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

input {
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

button:hover {
    background-color: white;
    color: black;
}

/*account*/

#accountdiv {
  margin-top: 50px; 
}

#username {
    display: block;
    margin-top: 10px;
}

/*comments and rating*/


.comments-container {
    margin-top: 20px;
    justify-content: space-evenly;
}

.comment {
    padding: 10px;
    margin-bottom: 20px;
    width: 45vw;
    border: #191919 solid 3px;
    border-radius: 6px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
    background-color: #dad5bb;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-author {
    margin: 0;
}

.comment-date {
    margin: 0;
    font-size: 0.8em;
}

.comment-body {
    margin: 0;
}

#rating-container {
    margin-top: 35px;
    margin-left: 15px;
}

#rating-container h2 {
    border-radius: 6px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

#interactions {
    width: 75vw;
    border: #191919 solid 3px;
    border-radius: 6px;
    box-shadow: 8px 8px 5px 2px rgba(0, 0, 0, 0.2);
}

#interactions label {
    margin-left: 10px;
}

#like-button {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background: #191919;
    border-radius: 6px;
}
#like-button:hover {
    background: white;
}
#like-button:active {
    background: white;
}
